$width: 400px;
$height: 200px;
$padding: 20px;
$barra: 15px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  background-color: #222;
  font-family: Arial, Helvetica, sans-serif;
 
}


.grafico-container, .grafico-container-adicionar {
  border-radius: 8px;
  margin: 24px;
  position: relative;
  width: $width;
  height: $height;
  padding: $padding;
  background-color: #333;
  
  .right {
    margin-left: auto;
  }

  & > * {
    color: #fff;
  }

  .topo, .bottom {
    gap: 12px;
    z-index: 3;
    padding: $padding;
    position: absolute;
    display: flex;
    width: $width;
    justify-content: space-between;
  }

  .topo {
    align-items: center;
    left: 0;
    top: 0;

    .main-p {
      
      font-weight: 700;
      font-size: 1.2rem;
    }

    .status {
      background: #00CB66;
      padding: 5px;
      border-radius: 10px;
    }
  }

  .bottom {
    align-items: flex-end;
    left: 0;
    bottom: 0;

    i {
      font-size: 16px;
      cursor: pointer;
      padding: 2px;
    }

  

    p {
      font-size: 12px;
    }

    
  }

}

.grafico-container-adicionar {

  .plus {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #4180ac;
    cursor: pointer;
    
    i {
      font-size: 48px;
    }

    p {
      margin-top: 8px;
      font-size: 24px;
    }
  }

 
}